.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #434a56;
}

.navTitle {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  -webkit-app-region: drag;
}

.navControls {
  display: flex;
  align-items: center;
}

.navControl {
  /* padding: 5px 15px; */

  /* background-color: white; */
  height: 30px;
  width: 45px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease;
}

.navControl:hover {
  opacity: 1;
}

.navControl.navMinimize {
  /* align-items: flex-end; */
}

.navControl .navClose {
  font-size: 16px;
}
