/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #efefef;
  margin: 0;
  font-family: Montserrat, sans-serif;
  overflow: hidden;
}
