* {
  box-sizing: border-box;
}

:root {
  --primary-bg: #3e7fb1;
  --primary-text: #fff;
  --secondary-bg: #001220;
  --secondary-border: #1b4260;
  --secondary-text: #3e7fb1;
}

::-webkit-scrollbar {
  width: 9px;
  padding: 0 2px;
}

::-webkit-scrollbar-track {
  background-color: #efefef3b;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

input:focus,
div:focus,
button:focus {
  outline: none;
  border: 0;
}

.warning {
  color: white;
  font-weight: bold;
  background-color: #ec3a3a;
  display: block;
  padding: 13px 65px;
  width: 100%;

  /* margin-top: 15px; */
  position: fixed;
  top: 100px;
  border-radius: 0;
  text-align: center;
}

.container {
  width: 100%;
  height: calc(100vh - 30px);
}

.wizardStepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 132px;
  background-image: url('../../../img/wizard-bg.svg');
  background-size: cover;
}

.wizardStepContainer a {
  color: white;
}

.debugPrompt {
  position: absolute;
  top: 20;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 8px;
  z-index: 1000;
}

.debugPrompt p {
  margin: 0;
  margin-bottom: 2px;
  font-size: 10px;
}

.shockLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30px;
  padding: 15px;
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  color: #fefefe;
  text-align: center;
  /* background-color: #1f3d74; */
}

.logo {
  height: 60px;
}

.bold {
  font-weight: bold;
}

.shockLogo .bold {
  color: #3775ae;
}

.lndTypeContainer.nodeInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lndLogsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 209px);
}

.logsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #00000047;
  padding: 20px;
  backdrop-filter: blur(30px);
  overflow: auto;
  scroll-behavior: smooth;
}

.logsBox p {
  margin: 0;
  margin-top: 5px;
  font-size: 11px;
  margin-top: 8px;
  word-break: break-word;
  font-family: monospace;
}

.stepTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-bg);
  border-bottom: 2px solid var(--secondary-border);
}

.stepTab {
  width: 50%;
  text-align: center;
  font-weight: bold;
  background-color: var(--secondary-bg);
  cursor: pointer;
  transition: all 0.2s ease;
}

.stepTab:hover {
  background-color: #3e7fb142;
}

.stepTitle {
  position: fixed;
  top: 101px;
  left: 0;
  width: 100%;
  padding: 15px 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text);
  background-color: var(--secondary-bg);
  border: 2px solid var(--secondary-border);
  border-left: 0;
  border-right: 0;
  font-weight: 600;
  font-size: 23px;
  text-align: center;
}

.divider {
  border-color: #dadada;
  width: 50%;
  border-style: solid;
}

.stepDescription {
  color: #ffffffa3;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 500;
}

.stepChoices {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.walletInfo {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.64);
  width: 60%;
}

.walletQRCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.QRCodeDesc {
  margin-top: 0;
  font-weight: bold;
  opacity: 0.64;
}

/* Customize the label (the container) */
.stepChoice {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 15px;
  font-weight: 500;
  color: #ffffffed;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

/* Hide the browser's default radio button */
.stepChoice input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radioDesc {
  margin: 0;
  font-size: 13px;
  opacity: 0.7;
  margin-top: 5px;
}

/* Create a custom radio button */
.checkmark {
  position: relative;
  display: block;
  flex-shrink: 0;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin-right: 8px;
  background-color: #0f1827;
  border: 2px solid var(--secondary-border);
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* On mouse-over, add a grey background color */
.stepChoice:hover input ~ .checkmark {
  background-color: #0f1827;
}

/* When the radio button is checked, add a blue background */
.stepChoice input:checked ~ .checkmark {
  background-color: #001220;
  border: 2px solid var(--secondary-border);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Style the indicator (dot/circle) */
.stepChoice .checkmark::after {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #3775ae;
}

/* Show the indicator (dot/circle) when checked */
.stepChoice input:checked ~ .checkmark::after {
  display: block;
}

.stepControlsBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.2);
}

.stepControlsBar .controlsBtn {
  font-weight: bold;
  padding: 0 30px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #3775ae;
  color: #efefef;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
}

.stepControlsBar .controlsBtn.prev {
  position: relative;
  padding-left: 50px;
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  border: 2px solid var(--secondary-border);
}

.stepControlsBar .controlsBtn i {
  font-size: 22px;
}

.stepInput {
  width: 80%;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}

.stepInputContainer {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  padding: 7px 10px;
  border: 2px solid var(--secondary-border);
  border-radius: 100px;
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  font-family: Montserrat, sans-serif;
}

.stepInputDesc {
  opacity: 0.7;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-size: 13px;
}

.chooseFolderBtn {
  font-size: 10px;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 100px;
  background-color: #3775ae;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-left: 10px;
  cursor: pointer;
}

.controlsBtn.next {
  position: relative;
  padding-right: 50px;
}

.controlsBtn.prev i {
  margin-right: 10px;
  position: absolute;
  left: 0;
  padding: 6px 15px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px 0 0 4px;
  top: 0;
  height: 100%;
}

.controlsBtn.next i {
  margin-left: 10px;
  position: absolute;
  right: 0;
  padding: 6px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
  top: 0;
  height: 100%;
}

.updateDialog {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  width: 280px;
  flex-direction: column;
  background-color: rgb(41, 79, 147);
  border-radius: 7px;
  visibility: visible;
  overflow: hidden;
  transform: translate(0, 0%);
  transition: all 0.5s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.dialogHidden {
  transform: translate(0, 150%);
  opacity: 0;
  visibility: hidden;
}

p.updateDialogHeaderTitle {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.updateDialogHeader {
  background-color: #4285b9;
  padding: 9px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

p.updateDialogText {
  margin: 0;
  opacity: 0.8;
  font-weight: 500;
}

.updateDialogBody {
  padding: 12px 15px;
  font-size: 13px;
}

.updateDialogFooter {
  display: flex;
  align-items: center;
}

.updateDialogFooterBtnText {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.updateDialogFooterBtn {
  width: 50%;
  padding: 8px 5px;
  background-color: #4285b9;
  cursor: pointer;
  transition: all 0.2s ease;
}

.updateDialogFooterBtn.secondaryFooterBtn {
  background-color: rgb(62, 99, 167);
}

.updateDialogFooterBtn:hover {
  background-color: #427eac;
}

.updateDialogProgress {
  width: 100%;
  height: 6px;
  background-color: #afafaf;
  margin-right: 10px;
  border-radius: 7px;
  overflow: hidden;
}

.updateDialogProgressContainer {
  display: flex;
  align-items: center;
}

.updateDialogProgressContainer {
  margin-top: 6px;
}

.updateDialogProgressCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #ff4f4f;
  flex-shrink: 0;
  font-size: 10px;
  cursor: pointer;
}

.updateDialogProgressHighlight {
  background-color: #4285b9;
  height: 100%;
}

.updateDialogProgressCancel i {
  line-height: 8px;
  margin-bottom: 2px;
}

.reminderIcon {
  font-size: 20px;
  width: 49px;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #30353e;
  color: #ffffffc2;
  flex-shrink: 0;
}

.reminderText {
  margin: 13px 20px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  width: 100%;
  opacity: 0.7;
}

.reminderContainer {
  display: flex;
  align-items: center;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
  background-color: #21252b;
  /* height: 40px; */
  flex-shrink: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.status-text {
  display: block;
  padding: 0px;
  margin: auto;
  font-weight: bold;
  color: #ffffffcc;
}

.wizardStatusSectionDivider {
  height: 80%;
  width: 2px;
  background-color: #ffffff1f;
}

.wizardStatusSection {
  padding: 20px 25px;
  width: 48%;
}

.wizardStatusSection p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(66 136 189);
  font-size: 16px;
}

.wizardStatusText {
  display: block;
  padding: 0px;
  margin: auto;
  font-weight: 600;
  color: #ffffff96;
  font-size: 13px;
}

.wizardStatusSections {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 15px; */
  align-items: center;
}

.wizardStatusContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  min-width: 480px;
  flex-shrink: 0;
  background-color: #21252b;
  margin-top: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.wizardStatusHeader p {
  margin: 0;
  padding: 10px 20px;
  font-weight: bold;
  color: #ffffffc9;
  border-radius: 8px 8px 0 0;
  background-color: #313740;
}
