* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: calc(100vh - 30px);
}

.wizardStepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #1a2740;
}

.shockLogo {
  position: fixed;
  top: 30px;
  padding: 15px;
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  color: #fefefe;
  text-align: center;
  background-color: #1f2f4c;
}

.bold {
  font-weight: bold;
}

.shockLogo .bold {
  color: #f5a623;
}

.stepTitle {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #f5a623;
  margin-bottom: 0;
  padding: 10px;
  margin-top: 0;
  position: fixed;
  top: 109px;
  left: 0;
  width: 100%;
  background-color: #152135;
}

.divider {
  border-color: #dadada;
  width: 50%;
  border-style: solid;
}

.stepDescription {
  color: #ffffffa3;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 500;
}

.stepChoices {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Customize the label (the container) */
.stepChoice {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  font-weight: 500;
  color: #ffffffed;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.stepChoice input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #0f1827;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.stepChoice:hover input~.checkmark {
  background-color: #0f1827;
}

/* When the radio button is checked, add a blue background */
.stepChoice input:checked~.checkmark {
  background-color: #f5a623;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.stepChoice input:checked~.checkmark::after {
  display: block;
}

/* Style the indicator (dot/circle) */
.stepChoice .checkmark::after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #efefef;
}

.stepControlsBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.05);
}

.stepControlsBar .controlsBtn {
  font-weight: bold;
  padding: 0 30px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f5a623;
  color: #efefef;
  text-transform: uppercase;
  cursor: pointer;
}

.stepControlsBar .controlsBtn.prev {
  background-color: #3c69b9;
  color: white;
}

.stepControlsBar .controlsBtn i {
  font-size: 22px;
}

.stepInput {
  width: 80%;
  border: 0;
  color: white;
  background-color: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Montserrat;
}

.stepInputContainer {
  display: flex;
  margin-top: 15px;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  padding: 7px 10px;
  border: 0;
  border-radius: 100px;
  background-color: #1f2f4c;
  color: white;
  font-family: Montserrat;
}

.chooseFolderBtn {
  font-size: 10px;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 100px;
  background-color: #f5a623;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-left: 10px;
  cursor: pointer;
}